
<ion-content>
    <!-- <ion-refresher (ionRefresh)="updateSocials($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          closeDuration="5"
          refreshingSpinner="bubbles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher> -->
      <h3 text-center *ngIf="!profiles || profiles.length ==0">You don't have any sharing profiles yet!</h3>
      <img *ngIf="!profiles || profiles.length ==0" src="../../assets/imgs/sad-face.png" style="opacity: 0.2;width: 50%;position:relative;margin:0 auto;    display: block;    margin-top: 20%;">
    <ion-card *ngFor="let profile of profiles; let j = index;" ion-long-press [interval]="2000" (onPressing)='deleteProfile(profile, j)'>
        <ion-item>
            <ion-avatar item-start>
                <img src="../../assets/imgs/no-photo.png">
            </ion-avatar>
            <h1>{{ profile.ProfileName}} </h1> 
            <ion-avatar item-end>
            </ion-avatar>
        </ion-item>
        
        <ion-card-content>
            <ion-row>
                <ion-col col-2 *ngFor="let social of socials; let i = index;" (tap)="changeStatus(profile, social, i, j)">
                        <ion-icon name="{{social.icon}}" [ngStyle]="setIconStyle(profile,social)"></ion-icon>
                </ion-col>
            </ion-row>
          
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer no-shadow>
    <ion-fab bottom right >
        <button ion-fab right (click)='addProfile()'><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-footer>
