
<ion-content>
    <!-- <ion-refresher (ionRefresh)="updateSocials($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          closeDuration="5"
          refreshingSpinner="bubbles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher> -->
      <h3 text-center *ngIf="!profiles || profiles.length ==0">You don't have any sharing profiles yet!</h3>
      <img *ngIf="!profiles || profiles.length ==0" src="../../assets/imgs/sad-face.png" style="opacity: 0.2;width: 50%;position:relative;margin:0 auto;    display: block;    margin-top: 20%;">
    <ion-card *ngFor="let profile of profiles; let j = index;" ion-long-press [interval]="2000" (onPressing)='deleteProfile(profile, j)'>
        <ion-card-header style="padding: 0px !important;">
                <ion-item>
                        <ion-avatar item-start>
                            <img src="../../assets/imgs/no-photo.png">
                        </ion-avatar>
                        <h2>{{ profile.ProfileName}}</h2>
                        <p>Shared 10 times</p>
                    </ion-item>
        </ion-card-header>
     
        <ion-card-content>
                <ion-row>
                    <ion-col col-12  text-center>
                            <button class="social-button" [ngClass]="setSocialButtonClass(profile,social)" *ngFor="let social of socials; let i = index;" (tap)="changeStatus(profile, social, i, j)" >
                                    <ion-icon name="{{social.icon}}" item-start></ion-icon>
                                </button>
                    </ion-col>
                </ion-row>
              
        </ion-card-content>
       
        <!--<ion-card-content *ngIf="j == 0">
            <ion-list>
                <button ion-item  *ngFor="let social of socials; let i = index;" (tap)="changeStatus(profile, social, i, j)"  [ngClass]="setSocialButtonClass(profile,social)">
                    <ion-icon name="{{social.icon}}" style="font-size: 30px !important;" item-start></ion-icon>
                    <span class="blurry-text">{{ social.userAlias }}</span>
                </button>
            </ion-list>
        </ion-card-content>-->

    </ion-card>
</ion-content>

<ion-footer no-shadow>
    <ion-fab bottom right >
        <button ion-fab right (click)='addProfile()'><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-footer>
