<ion-menu [content]="content">

 

  <ion-content>
    <ion-toolbar>
      <ion-title>Just Tap</ion-title>
    </ion-toolbar>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" item-start></ion-icon>
        {{p.title}}
        
        <ion-badge item-end *ngIf="p.badge">{{p.badge}}</ion-badge>
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
      <ion-item  menuClose (click)="simulator()" *ngIf="environment.enableSimulator">
        Simulator
      </ion-item>
      <ion-item  menuClose (click)="logout()">
          <ion-icon name="power" item-start></ion-icon>
        Logout
      </ion-item>
  </ion-footer>
</ion-menu>
  
  <ion-nav id="nav" [root]="currentPage" #content swipeBackEnabled="false"></ion-nav>
