// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabs-md-primary .tab-button[aria-selected=false] .tab-button-icon {    
    color:rgb(0, 0, 102)!important;
}

.tabs-md-primary .tab-button[aria-selected=true] .tab-button-icon {
    color:#fff!important;
}

.tabs-md .tab-button-icon {   
    font-size: 3rem !important;
}


ion-app{
    font-family: 'Calibri' !important;
}
ion-content{
    background-color: #f3efef !important;
}


.justtap-box .header{
    background-color:#6849cb !important; 
    padding: 10px;
    padding-bottom: 60px;
}

.justtap-box .header.green{
    background-color:#43be49 !important; 
}

.justtap-box .header h3{
    font-size: 18x;
    margin-bottom: 5px;
}
.justtap-box .header h4{
    font-size: 14px;
    margin-top: 0px;
}

.justtap-box .content{
    margin: 10px;
    box-shadow: 1px 1px 2px #c3c3c3;
    top: -40px;
    position: relative;
    padding: 10px;
    background-color: #fff;
    color:#000;
}

.custom-footer{
    position: absolute;
    color: #000;
    bottom: 30px;
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.toolbar-background {
    background-color: #6849cb;
}
.toolbar-title{
    color: #fff !important;

}
.toolbar .bar-button{
    color:#fff !important;
}