component-share-modal {
    ion-icon {
        font-size : 6em !important;
        margin-top: 30% !important;
        margin-left : 3% !important;
    }

    .itemConnection {
        margin-top : 6% !important;
    }

    .fab-md {
        background-color: red !important;
    }

    .ion-md-close {
        font-size: 3.2em !important;
        margin-bottom: 25% !important;
    }
}